.slogan {
    height: 300px;
    background-color: #2C2A2A;
    display: flex;
    justify-content: center;
    position: relative
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.line {
    height: 2px;
    width: 55px;
    margin: auto;
    margin-bottom: 40px;
    background-color: #ea548d;
}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    outline: none;
    padding: 8px 30px;
    max-width: 180px;
    position: relative;
    z-index: 1;
}

.btn::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: #ea548d;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.btn:hover::after {
    width: 100%;
    height: 100%;
    transition: 500ms;
}

a {
    text-decoration: none;
}

.btn:hover {
    color: white;
    text-decoration: none;

}

.sloganText {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: capitalize;
}