.skills {
    min-height: 100vh;
    background-color: #2C2A2A;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.line {
    height: 2px;
    width: 55px;
    margin: 20px 0;
    background-color: #ea548d;

}

.headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.wrapperSkills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 20px
}

.icon {
    background: rgba(255, 255, 255, 0.1);
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.icon:hover{
    border: 2px solid white;
}

.icon img {
    transform: rotate(-45deg);
    width: 70%;
    box-sizing: border-box;

}

.description {
    text-align: center;
    padding: 20px;
}

.titleSkill {
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}


@media screen and (max-width: 630px) {
    .skill {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .container {
        padding: 2vh 0;
    }

    .icon {
        height: 80px;
        width: 80px;
    }
}


@media (min-width: 320px) {
    .container {
        padding: 60px 0;
    }

    .headerTitle {
        font-size: 29px;
    }

    .line {
        margin: 20px 0;
    }

}

@media (max-width: 320px) {
    .container {
        padding: 60px 0;
    }

    .headerTitle {
        font-size: 29px;
    }

    .line {
        margin: 20px 0;
    }

    .skills {
        min-height: 130vh;
    }
}

@media screen and (min-width: 631px) and (max-width: 749px) {
    .wrapperSkills {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .skills {
        min-height: 30vh;
    }
}